body{
background: linear-gradient(
    180deg, rgba(255, 255, 255, 0.15), 
    rgba(255, 255, 255, 0)
);

background-image: url("https: //assets.wallpapersin4k.org/uploads/2017/04/Weather-Wallpaper-Iphone-3.jpg");
background-size: cover;
background-repeat: no-repeat;

font-monospace: SFMono-Regular,
Menlo,
Monaco,
Consolas,
"Liberation Mono",
"Courier New",
monospace;

