body{
background: linear-gradient(
    180deg, rgba(255, 255, 255, 0.15), 
    rgba(255, 255, 255, 0)
);

background-image: url("https: //assets.wallpapersin4k.org/uploads/2017/04/Weather-Wallpaper-Iphone-3.jpg");
background-size: cover;
background-repeat: no-repeat;

font-monospace: SFMono-Regular,
Menlo,
Monaco,
Consolas,
"Liberation Mono",
"Courier New",
monospace;

a{

text-decoration: none;
color: #1d69d6;


}


.check{
    margin-bottom: 25px;
}

.container{
width: 100%;
padding-right: calc(var(--bs-gutter-x) * .5);
padding-left: calc(var(--bs-gutter-x) * .5);
margin-right: auto;
margin-left: auto;
}

ul{

    margin: 0;
    padding: 0;
}

li{
list-style: none;

}